*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container-form{
    display: flex;
    width: 1200px;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, -1);
    height: 500px;
    max-width: 1400px;
    margin: 10px;
    background-color: white;
}

.logo img{
    border-radius: 47%;
}
.information{
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-childs{
    
    width: 100%;
    padding: 0 30px;
}

.info-childs h2{
    font-size: 2.5rem;
    color: #333;
}

.info-childs p{
    margin: 15px 0;
}

.form-information{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
}


.form-information-childs{
    padding: 0 30px;
}

.form-information h2{
    font-size: 4rem;
    padding-bottom: 20px;
}

.form-information-childs p{
    padding: 9px 25px;
    color: #555;
}

.form-information-childs a{
    text-decoration: none;
    color: blue;
}

.form-information-childs a:hover{
    background-color: #b7cbf8;
    border-radius: 50px;
    color: blue;
}


.form .input-group{            
    margin-bottom: 2.4rem;
    padding: 0 10px;
}

.input-field{
    position: relative;
}

.input-field input{
    width: 550px;
    height: 55px;
    border-radius: 12px;
    padding: 0 15px;
    border: 1px solid black;
    background: transparent;
    color: black;
    outline: none;
}

.input-field label{
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    color: gray;
    font-size: 19px;
    pointer-events:none;
    transition: .3s;
}

input:focus{
    border: 2px solid green;
}

input:focus ~ label,
input:valid ~ label{
    top: 0;
    font-size: 16px;
    padding: 0 15px;
    background: white;
    color: green;
}

.login button{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: blue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
.login button:hover{
    background-color: green;
    color: black;
    transform: scale(1.1);

}

.eye{
    top: 30%;
    position: absolute;
    transform: translateX(-35px);
    cursor: pointer;
}